<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - resource not found</title>
    <head>
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Sistema do Livros</title>
        <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
        <link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
        </head>
</head>
<body>

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Oops! Não conseguimos encontrar a página que você está procurando.</div>
                <a th:href="@{/}" class="btn btn-link">Voltar à página inicial</a>
            </div>
        </div>
    </div>
</div>
</body>
 <script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"></script>
 <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" ></script>
</html>